<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Web Class Dialog
    link(rel="stylesheet", href="./style/style.css")
    link(href="https://fonts.googleapis.com/css?family=Roboto:400,700i,900", rel="stylesheet")
  body
    .container
      .title-wrap
        span Web Class Dialog
      .dialog-wrap
        .dialog-block-wrap
          //- .dialog-block
          //-   .dialog-left
          //-     .dialog-photo(style="background-color: rgb(255, 142, 142)")
          //-     .dialog-photo(style="background-color: rgb(255, 186, 186)")
          //-     .dialog-photo(style="background-color: rgb(255, 94, 94)")
          //-   .dialog-right
          //-     .dialog-name Amber
          //-     .dialog-text Today is a nice day!!!
      form.add-dialog
        input#name(type="text" placeholder="name")
        input#text(type="text" placeholder="add somethings")
        button(type="submit") SUBMIT
    script(src="https://www.gstatic.com/firebasejs/5.8.6/firebase-app.js")
    script(src="https://www.gstatic.com/firebasejs/5.8.6/firebase-database.js")
    script(src="index.js")
            